<div class='container'>
	<h1>Login</h1>

<%= form_tag '/login' do %>

  <p>Email:</p> <h2><%= text_field_tag :email %></h2>
  <p>Password:</p> <h2><%= password_field_tag :password %></h2>
  <h2><%= submit_tag "Submit", class: 'btn btn-success' %></h2>

<% end %>

</div>