

	<div class='container'>

  <h1>Danny Chan</h1>
  <p>Full-Stack Developer</p>
  <p>Former English teacher pursuing my passion for Web Development. </p>

  <p>After teaching English overseas for a few years, I decided to pursue a career in Web Development. I started teaching myself how to code, but quickly realized that I would only go so far with self education and decided to enroll in General Assembly's three-month full time course to learn the skills I need to build apps for today's market.</p>

  <p>The constant evolving technology world provides me the perfect environment to thrive as a person and hopefully make an impact on the world.</p>


<a href='https://github.com/chan-d'><i class="fa fa-github fa-2x"></i></a>
<a href ='https://www.linkedin.com/in/chandanny516'><i class="fa fa-linkedin-square fa-2x"></i></a>


	</div>
<div id='background'> 
</div>