<div  class='container'> 

<h1> projects </h1>

<p>here are some projects:</p>

	<div class='panel panel-info'>	
		<div class='panel-heading'><a href='https://glacial-hamlet-7444.herokuapp.com/'>B-side Reviews </a></div>
	<div class='panel'> 
	 This app  allows users to search for movies and leave reviews for the movies. It also keeps a log of all the reviews a user leaves. </div>
		<div class='panel-footer'>
			<a href='https://github.com/chan-d/project_1'><i class="fa fa-github fa-2x"></i></a>
		</div>
	</div>

	<div class='panel panel-info'>
		<div class='panel-heading'><a href='http://cachemon.herokuapp.com'>Gotta cache 'em all' </a></div>
	<div class='panel'> 
	This app allows users to scan a QR-code in a physical location and redirects them to the app allowing them to 'catch' a pokemon and add the pokemon to their pokeTeam. Users can also see the location of other QR-codes to find other pokemon.</div>
		<div class='panel-footer'>
			<a href='https://github.com/danielxji6/gotta_cache_em_all'><i class="fa fa-github fa-2x"></i></a>
		</div>
	</div>

	<div class='panel panel-info'>
	<div class='panel-heading'><a href='http://ani-kuma.herokuapp.com'>ani-kuma </a></div>
	<div class='panel'> 
	 This app was created to help anime fans to connect with each other, watch movies, and leave reviews for the movies. While there are many websites out on the internet that allow users to do similar things, this app has the additional feature of being able to watch the whole movie without ads!</div>
			<div class='panel-footer'>
			<a href='https://github.com/chan-d/ani-kuma'><i class="fa fa-github fa-2x"></i></a>
		</div>

</div>

